[project]
	description = Awsome Terminal Git helper
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Simon (stoivo)
[access "refs/for/refs/*"]
	read = group user/Simon (stoivo)
	push = group user/Simon (stoivo)
	label-Code-Review = -2..+2 group user/Simon (stoivo)
	label-Verified = -1..+1 group user/Simon (stoivo)
	rebase = group user/Simon (stoivo)
	removeReviewer = group user/Simon (stoivo)
	submit = group user/Simon (stoivo)
[access "refs/heads/*"]
	read = group user/Simon (stoivo)
	create = group user/Simon (stoivo)
	push = +force group user/Simon (stoivo)
	pushMerge = group user/Simon (stoivo)
[access "refs/tags/*"]
	push = +force group user/Simon (stoivo)
	pushTag = group user/Simon (stoivo)
	pushSignedTag = group user/Simon (stoivo)
